
html{/*background-image: url('http://fc02.deviantart.net/fs71/f/2012/245/6/5/657012e19196044b727aba12bbab8d84-d1xeyml.png');
	*/
	background-color: #2F7C88;
	/*background-repeat: no-repeat;*/
   /* background-attachment: fixed;*/
}

/* Styling of individual sections 
**(but not their positions, thats on
** another sheet */
#headwrapper{
	position: fixed;
}

#center{
	text-align: center;
}



#head_content{ /*header*/
	background-color: #262626;
	margin-top: 16px;
	padding: 16px;
	text-align: center;
	border-radius: 4px;
	opacity: .95;
}

.head_photo img{
	max-width: 100%;
}

.btn {
	display: inline-block;
	padding: 10px 15px;
	color: #d4d4d4;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 18px;
}

#lastbtn.btn{
	border-right: solid #22545c;
}

#lastbtn.btn:hover{
	border-right: solid #22545c;
}

.btn:hover{
	color: #22545c;
}
.sidebar{
	padding-top: 28px;
	margin-top: 16px;
}

#head_content  a{
	display: inline-block;
	border-left: solid #22545c;
	text-decoration: none;
}

#head_content a:hover{
	border-color: #d4d4d4;
	text-decoration: none;
}

#home.sidebar{ /*sidebar*/
	display: block;
	background-color: #262626;
	border-radius: 4px;
	opacity: .95;
	height: 630px;
}

#resume.sidebar{ /*sidebar*/
	display: block;
	background-color: #262626;
	border-radius: 4px;
	opacity: .95;
	height: 1512px;
}

#portfolio.sidebar{ /*sidebar*/
	display: block;
	background-color: #262626;
	border-radius: 4px;
	opacity: .95;
	height: 4587px;
}

#design.sidebar{ /*sidebar*/
	display: block;
	background-color: #262626;
	border-radius: 4px;
	opacity: .95;
	height: 3506px;
}

#project.sidebar{ /*sidebar*/
	display: block;
	background-color: #262626;
	border-radius: 4px;
	opacity: .95;
	height: 482px;
}


/*.sidebar > img{
	display: block;
	margin-top: 1em; 
	margin-left: auto;
    margin-right: auto;
    margin-bottom: 1em;
	max-width: 85%;
}*/

.sidebar a{
	display: block;
	text-align: center;
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 18px;
	padding: 16px;
	margin: 8px 12px;
	color: #d4d4d4;
	border-left: solid #22545c;
	text-decoration: none;
}

.sidebar a:hover{
	border-color: #d4d4d4;
	color: #22545c;
	text-decoration: none;
}

#education,
#certs, #experience, #skills,
.display{
	margin-top: 16px;
	padding: 16px;
	background-color: #262626;
	opacity: .95;
	border-radius: 4px;
	overflow: auto;
}

#footer{ /*footer*/
	background-color: #262626;
	margin-bottom: 16px;
	margin-top: 16px;
	padding: 16px;
	text-align: center;
	border-radius: 4px;
	opacity: .95;
}

#footer > a{
	display: inline-block;
}

#links{
	text-align: center;
}

#footer_text{
	text-align: left;
	font-size: 16px;
	margin-top: 4px;
	margin-bottom: 8px;
}

.display img{
	display: block;
	margin-left:auto;
	margin-right: auto;
	max-width: 85%;
}

/* TEXT STYLING*/
h1{
	display: block;
	background-color: #22545c;
	font-size: 40px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #d4d4d4;
	margin-bottom: 8px;
}

.h2{
	background-color: #22545c;
	padding-left: 16px;
}

h2{
	font-size: 32px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #d4d4d4;
	margin-bottom: 16px;
}

h3{
	font-size: 23px;
	margin-top: 16px;
	margin-bottom: 8px;
	font-family: "Gill Sans", "Gill Sans MT", Calibri, sans-serif;
	color: #d4d4d4;
}

p{
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 18px;
	margin-top: 16px;
	color: #d4d4d4;
	line-height: 145%;
}

h3 > a{
	margin-top: 16px;
	line-height: 145%;
	display: inline-block;
	float: right;
}

.quote{
	padding-left: 24px;
	font-style: italic;
}

ol > li > ul > li{
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 18px;
	color: #d4d4d4;
	line-height: 145%;
	list-style-type: circle;
}

ul > li {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 18px;
	color: #d4d4d4;
	line-height: 145%;
	list-style-type: circle;
}

ul{
	padding-left: 40px;
	margin-top: 16px;
}

ol{
	padding-left:20px;
}

ol li {
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	font-size: 18px;
	color: #d4d4d4;
	line-height: 145%;
	list-style-type: upper-roman;
}

a{
	font-family: "Big Caslon", "Book Antiqua", "Palatino Linotype", Georgia, serif;
	color: #d4d4d4;
	text-decoration: underline;
	 text-decoration-color: red;
}

a:hover{
	color: #22545c;
}

strong{
	font-weight: bold;
}

.inline{
	display: inline;
}